<div class="tile">
    <!-- Section title -->
    <h2>Sign Up</h2>
    <p>Fill in the details below to register yourself.</p>
    <form class="user-form" (ngSubmit)="signUp()">
        <!-- Form to fill details -->
        <label for="email">Email ID:</label>
        <input type="email" id="email" name="email" [(ngModel)]="regData.email" required>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="regData.name" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" required>
        <div class="button">
        <button type="submit" class="btn" id="submit" title="Sign Up">Sign Up</button>
        <button class="btn" (click)="buttonClicked()" title="Forgot Password? Click here to reset your password.">Reset Password</button>
      </div>
    </form>
</div> 