  <h1>Sign Up</h1>
  <form (ngSubmit)="submitForm()">
    <div class="mb-3"> 
      <label for="name" class="form-label">Name</label>
    <!-- Add the FormsModule import statement -->
    <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="formData.email" required>
      </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>