# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/EmailNotificationFeature_Frontend/dist
/EmailNotificationFeature_Frontend/tmp
/out-tsc
/bazel-out

# Node
/EmailNotificationFeature_Frontend/node_modules
/EmailNotificationFeature_Frontend/npm-debug.log
/EmailNotificationFeature_Frontend/yarn-error.log

# Visual Studio Code
/EmailNotificationFeature_Frontend/node_modules.vscode/*
/EmailNotificationFeature_Frontend/node_modules!.vscode/settings.json
/EmailNotificationFeature_Frontend/node_modules!.vscode/tasks.json
/EmailNotificationFeature_Frontend/node_modules!.vscode/launch.json
/EmailNotificationFeature_Frontend/node_modules!.vscode/extensions.json
/EmailNotificationFeature_Frontend/node_modules.history/*
/.vs

# Miscellaneous
/EmailNotificationFeature_Frontend/node_modules/.angular/cache
