<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>Dear {toNamePlaceholder},</p>
    <p>Thank you for reaching out to us regarding your password reset request.</p>
    <p>We understand the importance of accessing your account and are committed to assisting you promptly. Our team is currently processing your request, and we appreciate your patience during this time.</p>
    <p>Rest assured that we are working diligently to verify your identity and facilitate the password reset process as quickly as possible. Your security is our top priority, and we take every measure to ensure the protection of your account information.</p>
    <p>Please note that you will shortly receive further communication from us regarding your request or any additional steps that may be required to complete the process. If you have any urgent concerns or questions, feel free to reach out to our support team for assistance.</p>
    <p>Best regards,<br>Team.</p>
</body>
</html>